services:
  - type: web
    name: luminatv-backend
    rootDir: luminatv
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn luminatv.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: WEB_CONCURRENCY
        value: 2
    plan: free
